*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;

}
body{
  background-color: rgb(252, 245, 235);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto;
  width: 100%;
}
                          /* -----------The navigation bar--------------*/
.container{
  width: 100%;
  /*min-height: 100vh;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  

}
.row{
  width: 100%;
  padding: 10px 80px;

}
.nav-bar{
 /*max-width: 100%;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* padding: 10px 0px;*/
  
 position: sticky;


}


.logo{
  width: 99px;
  height: 23px;
}
.nav-bar ul{
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 1%;
 
  
  

}
.nav-bar ul li{
  list-style: none;

  white-space:nowrap;


}
.nav-bar ul li a{
  padding: 10px 40px;
  font-family: sans-serif;
  font-size: 16px;
  color: #1C1E21;
  text-decoration: none;
 
}
.nav-bar ul li a::after{
  content: '';
  width: 0%;
    height: 3px;
    background: green;
    display: flex;
}
.nav-bar ul li a:hover::after{
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.First-download{
  margin-left: 5%;
  background-color: rgb(37, 211, 102);
  border-radius: 30px;
  margin-bottom: 2%;
  padding: 15px 32px;
  width: 200px;
  height: 50px;
  font-family: helvetica;
  font-size: 16px;
  color: #1C1E21;
  word-spacing: -0.2px;
  

}
.First-download:hover{
  background-color: #111B21;
  cursor:pointer;
  color: #ffffff;
  transition: 1s;
 
}       
.sub-menu{
  display: none;

}
/*
.nav-bar ul li a:hover::after .sub-menu{
  display: block;
  position: absolute;
  background: #25D366;
  margin-top: 15px;
  margin-left: -15px;
}
.nav-bar ul li a:hover::after .sub-menu ul{
  display: block;

}*/
      
/*------------------The first section with the background image--------------------*/
.content{
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 1.3%;
  height: 100vh;
  border-radius: 20px;

 background-position: center;
 margin-left:2% ;
 margin-right: 2%;
 display: flex;
 justify-content: space-between;
 

}
.container-2{
  padding-top:15%;
  padding-left: 12%;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: -3.2px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: -0.2px;
  margin-bottom: 20%;
}
.Second-download{
  background-color: rgb(37, 211, 102);
  border-radius: 30px;
  border: none;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
  font-family: helvetica;
  font-size: 16px;
  color: #1C1E21;
  word-spacing: -0.2px;

 
}
.Second-download:hover{
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.7s; 
}
 

.container-3{
  padding-top:6%;
  padding-left: 25%;
  
}
.goodmorning{
  width: 436px;
  height: 39px;
}
.love{
  width: 436px;
  height: 48px;
  margin-top: -45px;
}
.cup{
  width: 436px;
  height: 112.25px;

}
.Voicenote{
  width: 436px;
  height: 62px;
}
.happy{
  width: 436px;
  height: 262px;

}
.Emotional{
  width: 436px;
  height: 48px;
  margin-top: -50px;
}
.text{
  width: 436px;
  height: 58px;

} 
                /*Making the images to fade in as I scroll*/

.goodmorning, .love, .cup, .Voicenote, .happy, .Emotional, .text {
  opacity: 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.goodmorning {
  width: 436px;
  height: 39px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.2s;
}

.love {
  width: 436px;
  height: 48px;
  margin-top: -45px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.4s;
}

.cup {
  width: 436px;
  height: 112.25px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.6s;
}

.Voicenote {
  width: 436px;
  height: 62px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.8s;
}

.happy {
  width: 436px;
  height: 262px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.0s;
}

.Emotional {
  width: 436px;
  height: 48px;
  margin-top: -50px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.2s;
}

.text {
  width: 436px;
  height: 58px;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1.4s;
}
              /*--The third section with many small images--*/
.container-4{
 
}              
h6{
 font-weight: 100;
  margin-left: 79%;
  font-size: 10px;
  font-family: helvetica;
 
}
.many-people{
  width:1376px;
  height:245.125px;
  padding-left: 5%;
}
h2{
  font-family: Helvetica ;
  font-weight: lighter;
  letter-spacing: -1.4px;
  font-size: 48px;
  color: #1C1E21;
  text-align: center;

}  
.other-people{
  width: 1376px;
  height: 289.8px;
  padding-left: 5%;
} 
.container-5{
  margin-top: 6.5%;
  display: flex;
 justify-content: space-between;

}    
.container-6{
  margin-left: 15%;
  margin-top: 10%;

}   

h3{
  font-family: helvetica;
  font-size: 60px;
  line-height: 60px;
  color: #1C1E21;
  letter-spacing: -1.8px;
  font-weight: lighter;

}

#other-paragraph{
  font-family: helvetica;
  font-size: 18px;
  color: #1C1E21;
  line-height: 25px;
  letter-spacing: -0.2px;
  margin-top: 4%;
  margin-bottom: 6%;
}
#other-paragraph:hover{
  text-decoration: underline;
  transition: 0.5s;
}
a.Learn-more-link{
 
  font-family: helvetica;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1C1E21;
 

}
a.Learn-more-link:hover{
  color:#25D366;
  text-decoration: underline;
  transition: 0.5s;
  cursor: pointer;
} 

.container-7{
  margin-right: 22%;
}
.phone{
  width: 332px;
  height: 654px;

}
                            /*Making the images to fade in as I scroll*/
.many-people,h2,.other-people{
  opacity: 0;
}
 .many-people{
  width:1376px;
  height:245.125px;
  padding-left: 5%;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.2s;
}



h2{
  font-family: Helvetica ;
  font-weight: lighter;
  letter-spacing: -1.4px;
  font-size: 48px;
  color: #1C1E21;
  text-align: center;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.4s;

}  
.other-people{
  width: 1376px;
  height: 289.8px;
  padding-left: 5%;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.6s;

} 
 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

                           

                            /*-------The black section---------*/

.dark{
  background-color: #111B21;
  margin-top: 3%;
  padding-top: 5%;
 /* padding-bottom: 3%;*/
  display: flex;
  justify-content: space-between;
  
}
.container-8{
  margin-left: 15%;
  width: 528px;
  height: 650px;

}
.container-9{
  margin-right: 12%;
  margin-top: 8%;
}
h4{
  font-family: helvetica;
  font-size: 60px;
  letter-spacing: -1.8px;
  line-height: 60px;
  color: #ffffff;
  font-weight: lighter;
}
h4:hover{
  text-decoration: underline;
  transition: 0.5s;
}
h5{
  font-family: helvetica;
  font-size: 60px;
  letter-spacing: -1.8px;
  line-height: 60px;
  color: #25D366;
  font-weight: lighter;
  margin-bottom: 3%;

}
h5:hover{
  text-decoration: underline;
  transition: 0.5s;
}
#Encrypt-description{
  font-family: helvetica;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: -0.2px;
  margin-bottom: 6.5%;
 
}
#Encrypt-description:hover{
  text-decoration: underline;
  transition: 0.5s;

}
a.Second-learn-more{

  font-family: helvetica;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #ffffff;
  
  
}
a.Second-learn-more:hover{
  color:#25D366;
  text-decoration: underline;
  transition: 0.5s;
  cursor: pointer;

}
                      /*-------The section with a best friends group----------*/
/*The heading,the description and the link have been styled on similar links(so I didn't see the need to repeat*/       
.container-10{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  
}   
.container-11{
margin-left: 12%;
margin-top: 18%;
} 
.container-12{
  margin-top: 5%;
  position: relative;
  margin-right: 25%;


}    
.Best-friend-group{
  width: 326px;
  height: 647px;



}  
.content-inside-bsg{
  width: 400px;
  height: 479.225000px;
 position: absolute;
 bottom: 90px;
 left: -10px; 

}
                      /*-----------Section with a laughing lady-------------*/
.container-13{
  margin-top: 12%;
  display: flex;
  justify-content:space-between ;
  position: relative;

}
.container-14{
  margin-left: 20%;
  position: relative;
}
.laughing-lady{
  width: 326px;
  height: 647px;

}
.peach{
  width: 326px;
  height: 280.86px;
  position: absolute;
  bottom: 160px;
  right: -1px; 
}
.container-15{
  margin-right: 15%;
  margin-top: 12%;
}
                            /*------------Vegetables part-----------------*/
.container-16{
  display: flex;
  justify-content: space-between;
  margin-top: 12%;
}
.container-17{
  margin-left: 12%;
  margin-top: 12%;
}
.container-18{
  margin-right: 22%;

}

.vegetables{
  width: 326px;
  height: 647px;
 
}
                          /*-----------Footer-----------------*/
  footer{
    height: 70vh;
   max-width:  100%;
    background-color: #111B21;
   
   
  }
 section{
    padding: 80px 13% 70px;
  

  }
 
 .footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
 
 }
 .footer-content1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap:80px;
  
 }

 .footer-content h6{
  margin: 0;
  text-align: left;
  font-size: 12px;
  margin-bottom: 25%;
color: #F0F4f9;
line-height: 16.1px;
  
 }
 .footer-content h6:hover{
  text-decoration: underline;
  transition: 0.5s;
 }

 .footer-content ul li{
  list-style-type: none;
  margin-bottom: 15%;
 }

 .footer-content ul li a{
  text-decoration: none;
  color:#ffffff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.2px;
 }
 .footer-content ul li a:hover{
  text-decoration: underline;
  transition: 0.5s;
 }
  
  hr{
 
 border: none;
 box-sizing:border-box;
 border: 1px solid #223030;
 margin: 0 auto;
 width: 75%;

  }
  .bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-top: 3%;
    
  
    
  }
  .terms {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    gap: 10px;


  }
  .terms h6{
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 16.1px;
    color: #ffffff;
  }
  .footer-icons{
    display: flex;
    justify-content: space-between;
    gap :30%;
  }
  .select-box{
    position: relative;
    margin-right:12%;
    
    
  }
  select{
    width: 100%;
    height: 45px;
    padding: 0 12px;
    border-radius: 25px;
    border: 1px solid #fff;
    outline: none;
    background-color: #111B21;
    color: #ffffff;
    

  }

  
